@charset "utf-8";

.h4p_stagelist {
	background: url(../img/cassette/outer.png);
}

.h4p_bar-bar {
	background: url(../img/cassette/bar.png);
}

.h4p_bar-top {
	background: url(../img/cassette/top.png);
	height: 12px;
}

.h4p_bar-bottom {
	background: url(../img/cassette/bottom.png);
	height: 12px;
}

.h4p_bar-left {
	background: url(../img/cassette/left.png);
	width: 12px;
}

.h4p_bar-right {
	background: url(../img/cassette/right.png);
	width: 12px;
}

.h4p_stagelist,
.h4p_bar-left,
.h4p_bar-right {
	position: relative;
	float: left;
}

.h4p_landing {
	background-size: cover;
}

.h4p_item-frame {
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 0px;
}

.h4p_item-thumbnail {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	cursor: pointer;
}

.h4p_item-challenged {
	position:absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index:1000;
	text-align: center;
	cursor: default;
}

iframe {
	border: none;
}

.h4p_item-title,
.h4p_item-footer {
	position: relative;
}

.h4p_box-header *:first-child {
	margin-top: 0px;
}

.h4p_landing-header,
.h4p_landing-main,
.h4p_landing-footer {
	text-align: center;
}

.h4p_box-main {
	z-index: 11;
}

.h4p_item-vote .form-group {
	height: 30px;
}

.h4p_game {
	position: relative;
	margin: 0;
	padding: 1px;
}

.h4p_game iframe {
	position: absolute;
}

.h4p_box-footer {
	z-index: 10;
}

.h4p_footer:hover {
	background-color: rgba(0,0,0,0);
}

.h4p_info-title {
	margin-top: 0;
}

.h4p_checkergame-instance {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: 0;
}

.form-group *[data-toggle="tooltip"]{
	height: 34px;
	width: 34px;
	padding: 0;
	left: -10px;
}
.form-group *[data-toggle="tooltip"] .glyphicon{
	right: 0px;
}

.h4p_item .h4p_item-front {
	z-index: 10;
}

.h4p_item p,
.h4p_projectlist .panel-body p,
.h4p_info-datail p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.h4p_projectlist .panel-heading pre {
	word-wrap: normal;
	overflow: auto;
}

.h4p_item p.title {
	white-space: normal;
}

.h4p_info-explain p {
	overflow-y: scroll;
}

#codeModal pre {
	max-height: 400px;
	overflow-y: scroll;
}

#frameModal .modal-content {
	height: 400px;
	overflow-y: scroll;
}

#frameModal .frameMap img,
#frameModal .frameMap table {
	position: absolute;
}

#frameModal .frameMap table {
	table-layout: fixed;
}

/* アニメーション */

.h4p_item-transform {
	width: 384px;
	height: 384px;
}

.h4p_item-transform {
	-webkit-transform-origin: center center;
	-webkit-transform: rotateZ(0deg) scale(1,1);
	transform-origin: center center;
	transform: rotateZ(0deg) scale(1,1);
}

.h4p_item-transform.transform-on {
	-webkit-transform: rotateZ(4deg) scale(1.05,1.05);
	transform: rotateZ(4deg) scale(1.05,1.05);
}

.directly_floating_shadow {
	z-index: 0;
	box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.5);
	transition: box-shadow 0.6s;
}

.directly_floating_shadow:hover {
	z-index: 2;
	box-shadow: 0px 10px 20px 4px rgba(0,0,0,0.5);
}
